body {
  margin: 0;
  padding: 0;
}

div.cell-phone-warning {
  display: none;
}
@media (pointer: coarse) {
  div.cell-phone-warning {
    display: block;
    color: white;
    background-color: red;
    margin: 0.25em;
    padding: 0.25em;
    text-align: center;
  }
}

.crystal-decoration {
  font-size: 0.55px;
  fill: cyan;
  text-anchor: middle;
  dominant-baseline: middle;
  pointer-events: none;
  user-select: none;
}
